numpy==1.21.0
scipy==1.7.3
bcrypt==3.2.0
Flask==2.0.2
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
itsdangerous==2.0.1
psycopg2-binary==2.9.3
redis==4.1.1
regex==2022.1.18
SQLAlchemy==1.4.31
uWSGI==2.0.20
networkx==2.6.3
flask-cors==3.0.10