numpy~=1.22.0
scipy==1.10.1
bcrypt==4.0.1
Flask==2.2.5
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.0.3
itsdangerous==2.1.2
psycopg2-binary==2.9.6
redis==4.5.5
regex==2023.5.5
SQLAlchemy==2.0.13
uWSGI==2.0.21
networkx~=2.3.0
flask-cors==3.0.10
Jinja2~=3.1.2
Werkzeug==2.3.4
MarkupSafe~=2.1.1
func-timeout==4.3.5
uwsgidecorators-fallback~=0.0.5
uwsgidecorators~=1.1.0