numpy==1.22.3
scipy==1.8.0
bcrypt==3.2.0
Flask==2.1.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
itsdangerous==2.1.2
psycopg2-binary==2.9.3
redis==4.2.2
regex==2022.3.15
SQLAlchemy==1.4.34
uWSGI==2.0.20
networkx==2.7.1
flask-cors==3.0.10
Jinja2~=3.1.1
Werkzeug==2.1.1
click==8.1.2
blinker~=1.4
setuptools==62.0.0
cffi~=1.15.0
six~=1.16.0
MarkupSafe~=2.1.1
decorator~=5.1.1
greenlet~=1.1.2
pycparser~=2.21
pip==22.0.4
wheel==0.37.1