{% extends "base.html" %}

{% block content %}
    <p class="has-text-weight-bold">Undesired Motifs:</p>
    <div class="box is-centered">
            <div class="control" id="existing_subseqs">
                {% for subsequence in usubsequence %}
                <div class="control has-padding-03" id="subseq_{{ subsequence.id }}">
                                <table>
                                    <tr>
                                        <td style="width:53%"><label class="form-group has-float-label">
                                            <p class="control has-icons-right">
                                                <input style="width:100%" class="input is-rounded" type="text"
                                                       name="sequence"
                                                       placeholder="" size="50" value="{{ subsequence.sequence }}"
                                                       required>
                                                <span class="icon is-right">
                                                    <i class="fas fa-dna"></i>
                                                </span>
                                            </p>
                                            <span>Sequence</span></label></td>
                                        <td style="width:15%"><label class="form-group has-float-label">
                                            <p class="form-group has-float-label">
                                            <p class="control has-icons-right">
                                                <input style="width:100%" class="input is-rounded" type="number"
                                                       name="error_prob"
                                                       placeholder="" size="30"
                                                       value="{{ subsequence.error_prob * 100 }}"
                                                       required min="0.0"
                                                       max="100.0" step="0.01">

                                                <span class="icon is-right">
                                                    <i class="fas fa-percentage"></i>
                                                </span>
                                            </p>
                                            <span><nobr>Error Probability</nobr></span>
                                        </label>
                                        </td>
                                        <td style="width:15%"><label class="form-group has-float-label">
                                            <input style="width:100%" class="input is-rounded"
                                                   type="text" name="description" placeholder="Description"
                                                   size="20"
                                                    {% if subsequence.description != None %}
                                                   value="{{ subsequence.description }}"
                                                    {% endif %}
                                                   required><span>Description</span></label></td>
                                        <td style="width:5%">
                                            <button class="button"
                                                data-balloon="{% if subsequence.validated %}Already validated - update to remove validation!{% elif subsequence.awaits_validation %}Validate and publish{% else %}Request validation{% endif %}"
                                                data-balloon-pos="up" id="validate_subseq_{{ subsequence.id }}"
                                                {% if subsequence.validated %}disabled{% endif %}
                                                onclick="updateSeq('{{ host }}',{{ subsequence.id }});validateSeq('{{ host }}', {{ subsequence.id }});return false;">
                                            Publish
                                            </button>
                                        </td>
                                        <td style="width:5%">
                                            <button class="button"
                                                    data-balloon="Updating will remove the Validation!"
                                                    data-balloon-pos="up" id="update_subseq_{{ subsequence.id }}"
                                                    onclick="updateSeq('{{ host }}',{{ subsequence.id }});$('#validate_subseq_{{ subsequence.id }}').prop('disabled', '');$('#validate_subseq_{{ subsequence.id }}').attr('data-balloon','Request validation'); return false;">
                                                Update
                                            </button>
                                        </td>
                                        <td style="width:5%">
                                            <button class="button" id="delete_subseq_{{ subsequence.id }}"
                                                    data-balloon="Created at: "
                                                    data-balloon-pos="up"
                                                    onclick="deleteSeq('{{ host }}',{{ subsequence.id }}); return false;">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                {% endfor %}
            </div>
        </div>
     <p class="has-text-weight-bold">Synthesis-Errors:</p>
    <div class="box is-large" style="padding-top: 35px; padding-bottom: 5px">
        <form method="POST" action="{{ url_for('main_page.undesired_subsequences') }}">
            <div class="field">
                <div class="control">
                    <div class="control columns is-full is-multiline has-no-margin-left has-no-margin-top"
                         id="synth_errors">
                        {% for error_id in synthesis_errors %}
                            {% with e_obj=synthesis_errors[error_id], mode='synth', is_admin=True %}
                                {% include "error_probs.html" %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p class="has-text-weight-bold">Sequencing-Errors:</p>
    <div class="box is-large" style="padding-top: 35px; padding-bottom: 5px">
        <form method="POST" action="{{ url_for('main_page.undesired_subsequences') }}">
            <div class="field">
                <div class="control">
                    <div class="control columns is-full is-multiline has-no-margin-left has-no-margin-top"
                         id="seq_errors">
                        {% for error_id in sequencing_errors %}
                            {% with e_obj=sequencing_errors[error_id], mode='seq', is_admin=True %}
                                {% include "error_probs.html" %}
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    {% if config['DEBUG'] or config['TESTING'] %}
        <script src={{ url_for('static',filename='js/nouislider.min.js') }}></script>
        <script src={{ url_for('static',filename='js/ajax-api.js') }}></script>
        <script src={{ url_for('static',filename='js/error_probs.js') }}></script>
    {% endif %}
    <script>


        $('[id^="delete_subseq_"]').each(function () {
            $(this).click(function (event) {
                event.preventDefault();
            });
        });


        $('[id^="update_subseq_"]').each(function () {
            $(this).click(function (event) {
                event.preventDefault();
            });
        });

        {% for subsequence in usubsequence %}
            let dattim_{{ subsequence.id }} = new Date({{ subsequence.created }} * 1000).toUTCString();
            $('#delete_subseq_{{ subsequence.id }}').attr('data-balloon', "Created at: " + dattim_{{ subsequence.id }} + " by User-ID={{ subsequence.owner_id }}");
        {% endfor %}

        let synth_errors = {{ synthesis_errors|tojson|safe }};
        let seq_errors = {{ sequencing_errors|tojson|safe }};

        {%  for mode in ['synth','seq'] %}
            $('[id^="{{ mode }}-slider"]').each(function () {
                initACGTSlider('{{ mode }}', $(this)[0]);
            });


            $('[id^="{{ mode }}-position-slider"]').each(function () {
                    initSlider('{{ mode }}', $(this)[0]);
                }
            );

            $('[id^="err_data-{{ mode }}-slider-"]').each(function () {
                initErrorSliders('{{ mode }}', $(this)[0])
            });

            $('[id^="mismatch-{{ mode }}-slider-"]').each(function () {
                initMismatchSlider('{{ mode }}', $(this)[0]);
            });
        {% endfor %}
    </script>
{% endblock %}