<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">-->
<html lang="en">
<head>
    <title>{% block title %}MOSLA DNA Simulator{% endblock %}</title>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="MOSLA DNA-Synthesis-, Storage-, Mutation- and Sequencing-Simulator">

        <link rel="icon" href="{{ url_for('static',filename='img/mosla_fav-150x150.png') }}" sizes="32x32"/>
        <link rel="icon" href="{{ url_for('static',filename='img/mosla_fav-300x300.png') }}" sizes="192x192"/>
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static',filename='img/mosla_fav-300x300.png') }}"/>
        <meta name="msapplication-TileImage" content="{{ url_for('static',filename='img/mosla_fav-300x300.png') }}"/>
        {% if config['DEBUG'] or config['TESTING'] %}
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/gh-fork-ribbon.css') }}" />
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/bulma.min.css') }}>
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/infobox.css') }}>
            <link rel="stylesheet" type="text/css"
                  href={{ url_for('static',filename='styles/bootstrap-float-label.min.css') }}>
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/balloon.min.css') }}>
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/Chart.min.css') }}>
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/overlay.css') }}>
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/nouislider.css') }}>
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/bulma-divider.min.css') }}>

            <script defer src="{{ url_for('static',filename='js/fontawesome.min.js') }}"></script>
        {% else %}
            <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/all.min.css') }}>
        {% endif %}
    {% endblock %}
</head>

<body>
<section class="hero is-light is-fullheight">
    <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('main_page.main_index') }}" aria-label="MOSLA Image"
                   style="font-weight:bold;">
                    <img src="{{ url_for('static',filename='img/header_logo_sm.png') }}" width="117" height="28"
                         alt="MOSLA"/>
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                   data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-start"></div>
                <div class="navbar-end">
                    <a href="{{ url_for('main_page.main_index') }}" aria-label="Home Page"
                       class="navbar-item is-black"> Home </a>
                    <a href="{{ url_for('main_page.query_sequence') }}" aria-label="Simulation System"
                       class="navbar-item"> Simulate </a>
                    {% if session['user_id'] %}
                        <a href="{{ url_for('main_page.undesired_subsequences') }}" aria-label="Simulation Settings"
                           class="navbar-item">
                            Simulation Settings
                        </a>
                        {% if is_user_admin(session['user_id']) %}
                            <a href="{{ url_for('main_page.adminpage') }}" aria-label="Simulation Settings"
                               class="navbar-item"> Administration </a>
                        {% endif %}
                        <a href="{{ url_for('main_page.profile') }}" aria-label="Profile" class="navbar-item">
                            Profile </a>
                        <a href="{{ url_for('logout.do_logout') }}" aria-label="Logout" class="navbar-item">
                            Logout </a>
                    {% else %}
                        <a href="{{ url_for('login.do_login') }}" aria-label="Login" class="navbar-item"> Login </a>
                        <a href="{{ url_for('signup.register') }}" aria-label="Signup" class="navbar-item"> Sign
                            Up </a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="hero-body" id="main-body">
        <div class="container has-text-centered">
            <div class="container has-text-centered" id="error-container">
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="footer" style="border-top: 3px solid #ad9843;">
        {% block footer %}
            <a class="github-fork-ribbon left-bottom bottom" href="https://github.com/umr-ds/dna_sim" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
            <div class="content has-text-centered">
                <div class="content is-small is-text" style="color: black">© 2019 MOSLA</div>
                <div class="columns is-centered no-margin-bottom">
                    <!--<div class="column content is-centered is-2 no-margin-bottom">
                        <figure class="is-centered">
                            <a href="http://www.mosla.de/"
                               aria-label="MOSLA" style="font-weight:bold;">
                                <img style="height: 60px" src="{{ url_for('static',filename='img/logo_mosla_rgb.png') }}"
                                     alt="mosla.de"/>
                            </a>
                        </figure>
                    </div>-->
                    <div class="column content is-centered is-3 no-margin-bottom">
                        <figure class="is-centered">
                            <!--<a href="https://uni-marburg.de"
                               aria-label="Uni Marburg" style="font-weight:bold;">-->
                            <img style="height: 60px; min-width:174px"
                                 src="{{ url_for('static',filename='img/umr.png') }}"
                                 alt="uni-marburg.de"/>
                            <!--</a>-->
                        </figure>
                    </div>
                    <div class="column content is-centered is-3 no-margin-bottom">
                        <figure class="is-centered">
                            <!--<a href="https://uni-giessen.de"
                               aria-label="Uni Giessen" style="font-weight:bold;">-->
                            <img style="height: 60px; min-width:166px"
                                 src="{{ url_for('static',filename='img/jlu.png') }}"
                                 alt="uni-marburg.de"/>
                            <!--</a>-->
                        </figure>
                    </div>
                    <div class="column content is-centered is-3 no-margin-bottom">
                        <figure class="is-centered">
                            <!--<a href="http://www.proloewe.de/"
                               aria-label="LOEWE" style="font-weight:bold;">-->
                            <img style="height: 60px; min-width:147px"
                                 src="{{ url_for('static',filename='img/loewe.png') }}"
                                 alt="proloewe.de; min-width:145px"/>
                            <!--</a>-->
                        </figure>
                    </div>
                </div>
            </div>
        {% endblock footer %}
    </footer>
</section>

{% block javascript %}
    {% if config['DEBUG'] or config['TESTING'] %}
        <script src={{ url_for('static',filename='js/jquery.min.js') }}></script>
    {% else %}
        <script type="text/javascript" src="{{ url_for('static',filename='js/all.min.js') }}"></script>
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbar-burger").click(function () {
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });
        });
        if(matchMedia('(prefers-color-scheme: dark)').matches) {
         document.documentElement.setAttribute('data-theme', 'dark');
        }
        /*const toggleSwitch = document.querySelector('.theme-switch');

        function switchTheme(e) {
            if (e.target.checked) {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
            else {
                document.documentElement.setAttribute('data-theme', 'light');
            }
        }
        toggleSwitch.addEventListener('change', switchTheme, false);*/
    </script>

{% endblock javascript %}
</body>
</html>