<!-- templates/base.html -->
<!--<!DOCTYPE html>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html lang="en">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MOSLA DNA Simulator</title>
        <link rel="icon" href="{{ url_for('static',filename='img/mosla_fav-150x150.png') }}"
              sizes="32x32"/>
        <link rel="icon" href="{{ url_for('static',filename='img/mosla_fav-300x300.png') }}"
              sizes="192x192"/>
        <link rel="apple-touch-icon-precomposed"
              href="{{ url_for('static',filename='img/mosla_fav-300x300.png') }}"/>
        <meta name="msapplication-TileImage"
              content="{{ url_for('static',filename='img/mosla_fav-300x300.png') }}"/>

        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>-->
        <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/bulma.min.css') }}>

        <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/infobox.css') }}>
        <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/checkbox_switch.css') }}>


        <!-- ENTWEDER: -->
        <link rel="stylesheet"
              href="https://cdn.rawgit.com/tonystar/bootstrap-float-label/v4.0.2/bootstrap-float-label.min.css"/>
        <!--<link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/bootstrap-float-label.min.css') }}>-->
        <!--funktioniert nicht wirklich in Chromium, dafür (z.B. in Firefox) deutlich schoener als : -->
        <!-- ODER: -->
        <!--<link rel="stylesheet" href="https://cdn.rawgit.com/tonystar/float-label-css/v1.0.2/dist/float-label.min.css"/>-->


        <!--<link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/inputanimation.css') }}>-->

        <!--<link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/fancytextinputs.css') }}>-->
        <link rel="stylesheet" type="text/css" href={{ url_for('static',filename='styles/balloon.min.css') }}>
        <!--<link rel="script" href="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"/>-->
        <!--<script src={{ url_for('static',filename='js/jquery-3.4.1.js') }}></script>-->
        <script src={{ url_for('static',filename='js/jquery-3.4.1.min.js') }}></script>
        <script src={{ url_for('static',filename='js/jquery.lettering-0.6.1.min.js') }}></script>
    {% endblock %}
</head>

<body>
<section class="hero is-primary is-fullheight">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#" style="font-weight:bold;">
                        <img src="{{ url_for('static',filename='img/header_logo_sm.png') }}" alt=""/>
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                      </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for('main_page.home') }}" class="navbar-item"> Home </a>
                        {% if session['user_id'] %}
                            <a href="{{ url_for('main_page.query_sequence') }}" class="navbar-item"> Simulate </a>
                            <a href="{{ url_for('main_page.undesired_subsequences') }}" class="navbar-item">
                                Simulation Settings
                            </a>
                            <a href="{{ url_for('main_page.profile') }}" class="navbar-item"> Profile </a>
                            <a href="{{ url_for('logout.do_logout') }}" class="navbar-item"> Logout </a>
                        {% else %}
                            <a href="{{ url_for('login.do_login') }}" class="navbar-item"> Login </a>
                            <a href="{{ url_for('signup.register') }}" class="navbar-item"> Sign Up </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>