<div class="box is-large">
        <form method="POST" action="{{ url_for('main_page.manage_users') }}">
            <div class="field">
                <div class="control">
                    <div class="columns is-full is-multiline has-no-margin-left has-no-margin-top"
                         id="uuid_res">
                        {% for p_res in prev_results %}
                            <div class="column is-full" id="prev_res_{{ p_res[0] }}">
                                <div class="columns is-full">
                                    <div class="column is-one-third is-full-mobile">
                                        <a href="{{ url_for('main_page.query_sequence') }}?uuid={{ p_res[0] }}">{{ p_res[0] }}</a>
                                    </div>
                                    {%  if is_admin == True %}
                                    <div class="column is-1 is-full-mobile">
                                        <label class="form-group has-float-label">
                                            <input style="width:100%" class="input is-rounded" type="text"
                                                   id="user_id_{{ p_res[0] }}" name="description" disabled=""
                                                   placeholder="Owner ID"
                                                   value="{{ p_res[1] }}">
                                            <span style="white-space: nowrap;">Owner ID</span>
                                        </label>
                                    </div>
                                    {%  endif %}
                                    <div class="column is-two-sixt is-full-mobile">
                                        <label class="form-group has-float-label">
                                            <input style="width:100%" class="input is-rounded" type="text"
                                                   id="timeout_{{ p_res[0] }}" name="description" disabled=""
                                                   placeholder="Time-till-expiration"
                                                   value="{{ p_res[2] | to_ctime }}">
                                            <span style="white-space: nowrap;">Valid until</span>
                                        </label>
                                    </div>
                                    <div class="column is-full-mobile is-expanded field has-addons has-addons-centered has-no-margin-bottom">
                                        <div class="control">
                                        <label class="form-group has-float-label">
                                            <input class="input is-rounded" type="number" id="expiration_change"
                                                   placeholder=""
                                                   size="4"
                                                   value="365"
                                                   required min="1" step="1"><span>Set expiration Days</span></label>
                                        </div>
                                        <div class="control">
                                                <input class="button is-block button-fill is-rounded" type="button"
                                                       id="change-res_{{ p_res[0] }}"
                                                       name="change-res_{{ p_res[0] }}"
                                                       onclick="changeResultExp('{{ p_res[0] }}');
                                                               return false;"
                                                       data-balloon="Change Expiration Time"
                                                       data-balloon-pos="up" value="Change"/>
                                        </div>
                                    </div>
                                    <div class="column is-one-sixt is-full-mobile is-rounded">
                                        <input class="button is-block button-fill" type="button"
                                               id="delete-res_{{ p_res[0] }}"
                                               name="delete-res_{{ p_res[0] }}"
                                               onclick="deleteResult('{{ p_res[0] }}');
                                                       $('#prev_res_{{ p_res[0] }}').remove();return false;"
                                               data-balloon="Delete Result"
                                               data-balloon-pos="up" value="Delete"/>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="column is-full is-full-mobile has-no-padding-left has-no-padding-right">
                        <input class="button is-block button-fill" type="button"
                               id="next_history_btn"
                               name="next_history_btn"
                               onclick="$(this).addClass('is-loading');getNextHistory({{ is_admin | lower }});return false;"
                               data-balloon="Load more results"
                               data-balloon-pos="up" value="Load more"/>
                    </div>
                    <div class="is-divider"></div>
                    <div class="column has-text-centered is-full is-full-mobile has-no-padding-left has-no-padding-right">
                        <a href="#" id="delete-res_0"
                           onclick="deleteResult(0, undefined, true);$('#uuid_res').empty();return false;">Delete ALL
                            your results</a> (including results not loaded in the list above!)
                    </div>
                </div>
            </div>
        </form>
    </div>