<!-- templates/sequence_view.html -->

{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    {% include "validation_overlay.html" %}
    <!--<script type = "text/javascript" >
window.onload = function () {
    document.getElementById("text_lettering").lettering();
}
    </script>-->
    <!--TODO:
    https://stackoverflow.com/questions/43757979/chart-js-drag-points-on-linear-chart
    https://github.com/chrispahm/chartjs-plugin-dragData
    -->
    <div class="control" id="overlay">
        <div class="box container is-fluid is-fluid-mobile overlay-all">
            <a href="javascript:void(0)" class="roundclosebtn" onclick="closeOverlay()">&times;</a>
            <div class="box overlay-content has-margin-bottom-12 has-no-padding-bottom has-no-margin-bottom"
                 id="overlay-content">
                <canvas id="myChart"></canvas>
            </div>
            <br/>
            <div class="overlay-managebox columns is-multiline is-centered has-no-margin-top has-no-padding-top"
                 id="overlay-managebox">
                <div class="column is-full has-no-padding-left">
                    <div class="columns is-multiline has-no-margin-left">
                        <div class="column is-one-third-widescreen is-one-third-fullhd is-full-touch is-full-desktop">
                            <div class="columns is-multiline">
                                <div class="column is-pulled-left is-half is-full-touch is-pulled-left has-no-padding-bottom">
                                    <label class="form-group has-float-label">
                                        <input class="input" type="number" id="x-val" placeholder="" size="4"
                                               value="15"
                                               required min="0.0" step="1"><span>X-value</span></label>
                                </div>
                                <div class="column is-pulled-left is-half is-full-touch is-pulled-left has-no-padding-bottom">
                                    <label class="form-group has-float-label">
                                        <input class="input" type="number" id="y-val" placeholder="" size="4"
                                               value="15"
                                               required min="0.0" step="1"><span>Y-value</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third-widescreen is-one-third-fullhd is-full-touch is-full-desktop">
                            <div class="columns is-multiline has-no-padding-bottom">
                                <div class="column is-pulled-left is-half is-full-touch is-pulled-left has-no-padding-bottom">
                                    <button class="button is-block is-info-deactivated button-fill" type="button"
                                            id="addpoint"
                                            name="addpoint"
                                            onclick="addPoint($('#x-val').val(), $('#y-val').val());return false;"
                                            data-balloon="Modify is based on X-Value!" data-balloon-pos="up"> Add /
                                        Modify point
                                    </button>
                                </div>
                                <div class="column is-pulled-left is-half is-full-touch is-pulled-left has-no-padding-bottom">
                                    <button class="button is-block is-info-deactivated button-fill" type="button"
                                            id="removePoint"
                                            name="removePoint"
                                            onclick="removePoint($('#x-val').val());return false;"
                                            data-balloon="Remove is based on X-Value!" data-balloon-pos="up">Remove
                                        point
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-third-widescreen is-one-third-fullhd is-full-touch is-full-desktop">
                            <div class="columns is-multiline has-no-padding-bottom">
                                <div class="column is-pulled-left is-half is-full-touch is-pulled-left has-no-padding-bottom">
                                    <button class="button is-block is-info-deactivated button-fill" type="button"
                                            id="setybeforex"
                                            name="setybeforex"
                                            onclick="setYValueBeforeX($('#x-val').val(), $('#y-val').val());return false;"
                                            data-balloon="Changes all Y-Values of Points with a smaller X-Value"
                                            data-balloon-pos="up">
                                        Set Y-Values &lt; X
                                    </button>
                                </div>
                                <div class="column is-pulled-left is-half is-full-touch is-pulled-left has-no-padding-bottom">
                                    <button class="button is-block is-info-deactivated button-fill" type="button"
                                            id="setyafterx"
                                            name="setyafterx"
                                            onclick="setYValueAfterX($('#x-val').val(), $('#y-val').val());return false;"
                                            data-balloon="Changes all Y-Values of Points with a greater X-Value"
                                            data-balloon-pos="up">
                                        Set Y-Values &gt; X
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<span>
                X-Values &lt; 0 will be mapped to the first Y-Value and X-Values &gt; than the maximum X-Value will
                be mapped to the last Y-Value</span>-->
                <!--<div class="column is-full"></div>-->
                <div class="column is-full has-no-padding-left">
                    <div class="columns is-multiline has-no-margin-left">
                        <div class="column is-full is-pulled-left is-full-touch">
                            <div class="columns is-multiline">
                                <div class="column is-one-quarter is-full-touch is-pulled-left has-no-padding-bottom">
                                    <input class="button is-block is-info-deactivated button-fill" type="button"
                                           id="doReset"
                                           name="doReset"
                                           onclick="resetChanges();return false;" value="Reset">
                                </div>
                                <div class="column is-one-quarter is-full-touch is-pulled-left has-no-padding-bottom">
                                    <input class="button is-block is-info-deactivated button-fill" type="button"
                                           id="toogleinterpolation"
                                           name="toogleinterpolation"
                                           onclick="toogleCubicInterpolation();return false;"
                                           value="Use Interpolation">
                                </div>
                                <div class="column is-one-quarter is-full-touch is-pulled-left has-no-padding-bottom">
                                    <input class="button is-block is-info-deactivated button-fill" type="button"
                                           id="toogleDragX"
                                           name="toogleDragX" onclick="toogleDragX();return false;"
                                           value="Allow drag along X-Axis">
                                </div>
                                <div class="column is-one-quarter is-full-touch is-pulled-left has-no-padding-bottom">
                                    <button class="button is-block button-fill"
                                            id="publish_gerr"
                                            name="publish_gerr"
                                            onclick="saveChart('{{ host }}', '{{ apikey }}', false, true);let callback_func = function (desc) { validateGraphError('{{ host }}',$('#chart-name').data('id'),false, desc) };showValidationOverlay('', callback_func);return false"
                                            data-balloon="Request validation"
                                            data-balloon-pos="up">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="columns is-multiline has-no-margin-left">
                        <div class="column is-half is-pulled-left is-full-touch has-no-padding-bottom">
                            <div class="columns has-no-padding-bottom">
                                <div class="column is-half is-pulled-left is-full-mobile">
                                    <label class="form-group has-float-label button-fill">
                                        <input class="input" type="text" id="chart-name" placeholder="" size="20"
                                               required><span>Name</span></label>
                                </div>
                                <div class="column is-pulled-left is-full-mobile">
                                    <button class="button is-block is-info-deactivated button-fill" type="button"
                                            id="update-chart"
                                            name="update-chart"
                                            onclick="saveChart('{{ host }}', '{{ apikey }}', false, true);return false;"
                                            data-balloon="Update current Error-Probability Graph"
                                            data-balloon-pos="up">
                                        Update
                                        Template
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="column is-half is-pulled-left is-full-touch has-no-padding-bottom">
                            <div class="columns">
                                <div class="column is-half is-pulled-left is-full-mobile">
                                    <button class="button is-block is-info-deactivated button-fill" type="button"
                                            id="delete-chart"
                                            name="delete-chart"
                                            onclick="deleteChart('{{ host }}', '{{ apikey }}', $('#x-val').val(), $('#y-val').val());return false;"
                                            data-balloon="Delete current Error-Probability Graph"
                                            data-balloon-pos="up">
                                        Delete
                                    </button>
                                </div>
                                <div class="column is-half is-pulled-left is-full-mobile">
                                    <button class="button is-block is-info-deactivated button-fill"
                                            type="button" id="save-chart" name="save-chart"
                                            onclick="saveChart('{{ host }}', '{{ apikey }}', true, true);return false;"
                                            data-balloon="Save Copy" data-balloon-pos="up"
                                            {% if user_id == None %}disabled{% endif %}> Save copy of Template
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="subtitle">
        Your Query:
    </h2>
    <div class="box container is-fluid is-fluid-mobile">
        <form id="submit_sequence" class="is-fluid is-fluid-mobile">
            <div class="is-block-touch columns is-multiline has-no-padding-bottom has-no-margin-bottom">
                <div class="tooltip">?
                    <span class="tooltiptext">You can upload your configuration or fasta files by dragging them in here!</span>
                </div>
                <div class="column is-full">
                    <div class="columns">
                        <div class="column is-1 is-pulled-left">
                            <p>ACGT only</p>
                            <label data-balloon="Limit Alphabet"
                                   data-balloon-pos="right">
                                <input type="checkbox" aria-label="Limit Alphabet to ACGT" id="limitedChars" checked
                                       class="switch is-rounded is-large button-fill no-outline" name="enableall"/>
                                <label for="limitedChars" class="no-outline"></label>
                            </label>
                        </div>
                        <div class="column is-pulled-left">
                            <div class="field">
                                <div class="control">
                                    <label class="form-group has-float-label">
                                        <!--<p class="control has-icons-left">-->
                                        <textarea class="textarea"
                                                  rows="3" id="sequence" name="sequence"
                                                  placeholder="AAACCAGT"
                                                  required></textarea>
                                        <!--<span class="icon is-right">
                                        <i class="fas fa-dna"></i>
                                            </span>-->
                                        <span>Sequence to Analyse</span>
                                        <!--</p>-->
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-full has-no-padding-top has-no-padding-bottom"></div>
                <div class="column is-half is-full-touch">
                    <div class="columns is-multiline is-gapless">
                        <div class="column is-full">
                            <div class="columns is-gapless">
                                <div class="column is-3 is-full-mobile is-pulled-left">
                                    <label class="form-group has-float-label">
                                        <input class="input is-rounded" type="number" id="gc_window_size"
                                               placeholder=""
                                               size="4"
                                               value="15"
                                               required min="0" step="1"><span>GC Window</span></label>
                                </div>
                                <div class="column is-full-mobile is-expanded field has-addons has-addons-centered">
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth is-2 select is-primary is-rounded">
                                            <label for="gc-dropdown" aria-label="GC-Method"></label><select
                                                class="button-fill" id="gc-dropdown">
                                            <!--{% for chart in gc_charts %}

                                <option data-id="{{ chart.id }}" data-type="gc"
                                        data-validated="{{ chart.validated }}"
                                        data-isowner="{{ chart.user_id == user_id }}"
                                        data-jsonblob='{{ chart.jsonblob | tojson }}'>{{ chart.name }}</option>
                            {% endfor %}
                            <option data-id="-1" data-type="gc"
                                    data-validated="false" data-isowner="false">New Graph
                            </option>-->
                                        </select>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <input class="button is-block button-fill is-rounded" type="button"
                                               id="showOvrly"
                                               name="mybutton"
                                               onclick="let dropdown_select = $('#gc-dropdown option:selected');
                               deserializeDataAndLoadDraw(dropdown_select.data('jsonblob'),
                               dropdown_select.data('type'));showOverlay(dropdown_select.data('validated'),
                               dropdown_select.data('isowner'), dropdown_select.data('id'), dropdown_select.text(),
                               dropdown_select.data('type'), dropdown_select.data('awaits_validation'));"
                                               value="Change GC Probability" style="height: 36px; width: 240px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-full">
                            <div class="columns is-gapless">
                                <div class="column is-3 is-full-mobile is-pulled-left">
                                    <label class="form-group has-float-label">
                                        <input class="input is-rounded" type="number" id="kmer_window_size"
                                               placeholder=""
                                               size="4"
                                               value="15"
                                               required min="0" step="1"><span>Kmer Window</span></label>
                                </div>
                                <div class="column is-full-mobile is-expanded field has-addons has-addons-centered">
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth is-2 select is-primary is-rounded">
                                            <label for="kmer-dropdown" aria-label="Kmer-Method"></label><select
                                                class="button-fill"
                                                id="kmer-dropdown"></select>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <input class="button is-block button-fill is-rounded" type="button"
                                               id="showOvrly"
                                               name="mybutton"
                                               onclick="let dropdown_select = $('#kmer-dropdown option:selected');
                               deserializeDataAndLoadDraw(dropdown_select.data('jsonblob'),
                               dropdown_select.data('type'));showOverlay(dropdown_select.data('validated'),
                               dropdown_select.data('isowner'), dropdown_select.data('id'), dropdown_select.text(),
                               dropdown_select.data('type'), dropdown_select.data('awaits_validation'));"
                                               value="Change Kmer Probability" style="height: 36px; width: 240px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-full">
                            <div class="columns is-gapless">
                                <div class="column is-3 is-hidden-mobile is-pulled-left"></div>
                                <div class="column is-full-mobile is-expanded field has-addons has-addons-centered">
                                    <div class="control is-expanded">
                                        <div class="select is-fullwidth is-2 select is-primary is-rounded">
                                            <label for="homopolymer-dropdown"
                                                   aria-label="Homopolymer-Method"></label><select
                                                class="button-fill" id="homopolymer-dropdown">
                                            <!--{% for chart in homopolymer_charts %}

                                <option data-id="{{ chart.id }}" data-type="homopolymer"
                                        data-validated="{{ chart.validated }}"
                                        data-isowner="{{ chart.user_id == user_id }}"
                                        data-jsonblob='{{ chart.jsonblob | tojson }}'>{{ chart.name }}</option>
                            {% endfor %}
                            <option data-id="-1" data-type="homopolymer"
                                    data-validated="false" data-isowner="false">New Graph
                            </option>-->
                                        </select>
                                        </div>
                                    </div>
                                    <div class="control">
                                        <input class="is-rounded button is-block is-info-deactivated button-fill"
                                               type="button"
                                               id="showOvrly"
                                               name="mybutton"
                                               onclick="let dropdown_select = $('#homopolymer-dropdown option:selected');
                               deserializeDataAndLoadDraw(dropdown_select.data('jsonblob'),
                               dropdown_select.data('type'));showOverlay(dropdown_select.data('validated'),
                               dropdown_select.data('isowner'), dropdown_select.data('id'), dropdown_select.text(),
                               dropdown_select.data('type'), dropdown_select.data('awaits_validation'));"
                                               value="Change Homopolymer Prob." style="height: 36px; width: 240px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-3 is-1-touch is-1-mobile"  style="margin-top: -1.5rem">
                            <p>Max. Expect</p>
                            <label data-balloon="Calculate Secondary Structures"
                                   data-balloon-pos="right">
                                <input type="checkbox" aria-label="Calculate Secondary Structures" id="secstruct" checked
                                       class="switch is-rounded is-large button-fill no-outline" name="secstruct"/>
                                <label for="secstruct" class="no-outline"></label>
                            </label>
                        </div>
                        <div class="column">
                            <!--<div class="column ">-->
                            <div class="field">
                                <div class="control">
                                    <label class="form-group has-float-label">
                                        <p class="control has-icons-right">
                                        <input class="input is-rounded" type=number rows="1" id="temperature"
                                               value="310.15" min="0" step="0.01"/>
                                        <span class="icon is-right">
                                            <i class="fas fa-thermometer-half"></i>
                                        </span>
                                        </p>
                                            <!--<span class="icon is-right">
                                        <i class="fas fa-dna"></i>
                                            </span>-->
                                        <span>Temperature (°K)</span>
                                        <!--</p>-->
                                    </label>

                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half is-full-touch">
                    <div class="columns">
                        <div class="column is-2 is-full-mobile has-no-padding-right has-no-padding-top has-padding-bottom-40">
                            <p style="text-align:left;">Calculated Error Prob.</p>
                            <label data-balloon="Use Calculated Error Probabilities"
                                   data-balloon-pos="right" style="float: left">
                                <input type="checkbox" aria-label="Use Calculated Error Probabilities"
                                       id="calcprobs"
                                       class="switch is-rounded is-large button-fill no-outline" name="cprobs"
                                       onclick="if ($(this).is(':checked')) {
                                    let seq  = $('#seqmeth');
                                    let synth = $('#synthmeth');
                                    seq.data('selected', $('#seqmeth option:selected').val());
                                    synth.data('selected', $('#synthmeth option:selected').val());
                                    seq.val(0).prop('disabled', true);
                                    synth.val(0).prop('disabled', true);
                                } else if ($(this).not(':checked')){
                                    let seq  = $('#seqmeth');
                                    let synth = $('#synthmeth');
                                    seq.val(0).prop('disabled', false);
                                    synth.val(0).prop('disabled', false);
                                    seq.find('option[value='+ seq.data('selected') + ']').prop('selected', true);
                                    synth.find('option[value='+ synth.data('selected') + ']').prop('selected', true);
                                }"/>
                                <label for="calcprobs" style="float:left" class="no-outline"></label>
                            </label>
                        </div>
                        <div class="column">
                            <div class="columns is-multiline">
                                <div class="column is-full">
                                    <div class="select is-fullwidth is-primary is-rounded">
                                        <!-- values 1-10 correspond to the error_correction id in the database -->
                                        <!-- I either have to change the database entries for 0, 11, 12 and 13 -->
                                        <!-- or intercept these values before the database request.  -->
                                        <label class="form-group has-float-label" aria-label="Synthesis Method">
                                            <select class="select" id="synthmeth">
                                                <optgroup label="None">
                                                    <option value="0" selected>None</option>
                                                </optgroup>
                                                <optgroup label="Column synthesized oligos">
                                                    <option value="1">MutS</option>
                                                    <option value="2">Consensus shuffle</option>
                                                    <option value="3">ErrASE</option>
                                                    <option value="9">No error correction</option>
                                                </optgroup>
                                                <optgroup label="Microarray based oligo pools">
                                                    <option value="4">Oligo hybridization based</option>
                                                    <option value="5">High-temperature ligation/hybridization based
                                                    </option>
                                                    <option value="6">ErrASE</option>
                                                    <option value="7">Nuclease-based</option>
                                                    <option value="8">NGS-based</option>
                                                    <option value="10">No error correction</option>
                                                </optgroup>
                                                <optgroup label="User defined">
                                                    <option value="11">Error Rates</option>
                                                    <option value="12">Error Attributes</option>
                                                    <option value="13">Rates and Attributes</option>
                                                </optgroup>
                                            </select><span>Synthesis Method</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="column is-full">
                                    <div class="select is-fullwidth is-primary is-rounded">
                                        <!-- values 1-7 correspond to the submethod id in the database -->
                                        <!-- I either have to change the database entries for 0, 8 and 9 -->
                                        <!-- or intercept these values before the database request.  -->
                                        <label class="form-group has-float-label" aria-label="Sequencing Method">
                                            <select class="select" id="seqmeth">
                                                <optgroup label="None">
                                                    <option value="0" selected>None</option>
                                                </optgroup>
                                                <optgroup label="Illumina">
                                                    <option value="1">Single End</option>
                                                    <option value="2">Paired End</option>
                                                </optgroup>
                                                <optgroup label="PacBio">
                                                    <option value="4">Subread</option>
                                                    <option value="3">CCS</option>
                                                </optgroup>
                                                <optgroup label="Nanopore">
                                                    <option value="5">1D</option>
                                                    <option value="6">2D</option>
                                                </optgroup>
                                                <optgroup label="User defined">
                                                    <option value="7">Error Rates</option>
                                                    <option value="8">Error Attributes</option>
                                                    <option value="9">Rates and Attributes</option>
                                                </optgroup>
                                            </select><span>Sequencing Method</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="column is-full">
                                    <!--<div class="column ">-->
                                    <div class="field">
                                        <div class="control">
                                            <label class="form-group has-float-label">
                                                <!--<p class="control has-icons-left">-->
                                                <input class="input is-rounded" type=number rows="1" id="seed"
                                                       placeholder="Random" min="0" step="1"/>
                                                <!--<span class="icon is-right">
                                                <i class="fas fa-dna"></i>
                                                    </span>-->
                                                <span>Seed</span>
                                                <!--</p>-->
                                            </label>

                                            <!--</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="columns has-no-padding-top">
                <div class="column is-rounded">
                    <button class="button is-rounded button-fill" id="downloadConfig"
                            onclick="download(collectSendData(2), 'mosla.json','application/json');return false">
                        Download current config
                    </button>
                </div>
                <div class="column is-rounded">
                    <button class="button is-rounded button-fill" id="uploadConfig"
                            onclick="upload();return false">Upload config
                    </button>
                </div>
            </div>
            <br/>

            <input type="checkbox" id="spoiler"/>
            <label class="button button-fill" style="white-space: nowrap; display:unset" for="spoiler">Manage
                Subsequences</label>
            <div class="spoiler">
                <h3>Changes here wont be saved in your profile!</h3>
                <br/>
                <div style="text-align: left">Enabled:</div>
                <div id="subseq_container">
                    {% for subsequence in usubsequence %}
                        <div class="control" id="subseq_{{ subsequence.id }}">
                            <table>
                                <tr>
                                    <td><input type="checkbox"
                                               class="switch is-large is-rounded button-fill no-outline"
                                               id="enabled_{{ subsequence.id }}" name="switchRoundedDefault"
                                               aria-label="Enable Rule"
                                               value="{{ subsequence.id }}" checked/>
                                        <label class="no-outline" for="enabled{{ subsequence.id }}"></label>
                                    </td>
                                    <td style="width:50%"><label class="form-group has-float-label">
                                        <input class="input is-rounded is-grayable" style="width:100%" type="text"
                                               name="sequence"
                                               aria-label="Sequence"
                                               id="sequence_{{ subsequence.id }}" placeholder=""
                                                {% if subsequence.validated %} readonly {% endif %}
                                               value="{{ subsequence.sequence }}" required>
                                        <span>Sequence</span></label></td>
                                    <td style="width:15%"><label class="form-group has-float-label">
                                        <input class="input is-rounded is-grayable" style="width:100%" type="number"
                                               id="error_prob_{{ subsequence.id }}"
                                               aria-label="Error Probability"
                                               name="error_prob" placeholder=""
                                                {% if subsequence.validated %} readonly {% endif %}
                                               value="{{ subsequence.error_prob * 100 }}"
                                               required min="0.0" max="100.0" step="0.01">
                                        <span><nobr>Error Probability</nobr></span></label></td>
                                    <td style="width:30%"><label class="form-group has-float-label">
                                        <input class="input is-rounded is-grayable" style="width:100%" type="text"
                                               name="description"
                                               aria-label="Description"
                                               id="description_{{ subsequence.id }}" placeholder="No Description"
                                               size="30"
                                                {% if subsequence.description != None %}
                                               value="{{ subsequence.description }}"
                                                {% endif %} readonly><span>Description</span></label></td>
                                    <!--
                            {% if subsequence.description != None %}
                                Description: {{ subsequence.description }}
                            {% else %}
                                No Description
                            {% endif %}-->
                                    <td><span class="" style="white-space: nowrap;"><label
                                            class="checkbox">Validated: <input type="checkbox"
                                                                               id="validated_{{ subsequence.id }}"
                                                                               value="{{ subsequence.id }}"
                                                                               aria-label="Validated"
                                                                               disabled
                                            {% if subsequence.validated %} checked {% endif %}/></label></span></td>
                                </tr>
                            </table>
                            <!--<nobr>
                            Created at:
                            <script>document.write(new Date({{ subsequence.created }} * 1000).toUTCString()
                            )
                            </script>
                        </nobr>-->
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="columns has-no-padding-top">
                <div class="column is-1">
                    <p>Send E-Mail</p>
                    <label data-balloon="{% if user_id == None %}Log in to use Send2Mail{% else %}Send Result via E-Mail{% endif %}"
                           data-balloon-pos="right">
                        <input type="checkbox" aria-label="Send Result to E-Mail instead of waiting for Output"
                               id="send_email" {% if user_id == None %}disabled{% endif %}
                               class="switch is-rounded is-large button-fill no-outline" name="send_email"/>
                        <label for="send_email" class="no-outline"></label>
                    </label>
                </div>
                <div class="column button-fill">
                    <button class="button is-block is-info-deactivated is-large is-fullwidth has-margin-top-20"
                            id="submit_seq_btn">Submit
                    </button>
                </div>
                <div class="column button-fill is-2">
                    <button class="button is-large is-rounded button-fill has-margin-top-20" id="uploadFasta"
                            onclick="upload();return false">Upload Fasta
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="results" style="display: none">
        <h2 class="subtitle"> Your Results: </h2>
        <div class="box">
            <h3 class="subtitle has-text-black"> Homopolymers: </h3>
            <div class="text_lettering" id="homopolymer"></div>
        </div>
        <div class="box">
            <h3 class="subtitle has-text-black"> GC-Content: </h3>
            <div class="text_lettering" id="gccontent"></div>
        </div>
        <div class="box">
            <h3 class="subtitle has-text-black"> Kmer: </h3>
            <div class="text_lettering" id="kmer"></div>
        </div>
        <div class="box">
            <h3 class="subtitle has-text-black"> Subsequences: </h3>
            <div class="text_lettering" id="subsequences"></div>
        </div>
        <div class="box">
            <h3 class="subtitle has-text-black"> Overall: </h3>
            <div class="text_lettering" id="overall"></div>
            <div class="column is-rounded">
                <button class="button is-rounded" id="downloadFastqOr"
                        onclick="download(collectSendFastQ(false), 'mosla.fastq');return false">
                    Download original sequence as FastQ
                </button>
            </div>
        </div>
        <h2 class="subtitle"> Result of the Error Simulation: </h2>
        <div class="box">
            <h3 class="subtitle has-text-black"> Sequence with only Synthesis errors: </h3>
            <ul class="text_lettering" id="synth_seq" style="overflow-x: auto;"></ul>
        </div>
        <div class="box">
            <h3 class="subtitle has-text-black"> Sequence with only Sequencing errors: </h3>
            <ul class="text_lettering" id="seq_seq" style="overflow-x: auto;"></ul>
        </div>
        <div class="box">
            <h3 class="subtitle has-text-black"> Fully modified Sequence: </h3>
            <ul class="full_modified_text_lettering" id="mod_seq" style="overflow-x: auto;"></ul>
            <ul class="full_modified_text_lettering" id="mod_seq_inf" style="overflow-x: auto;"></ul>
            <div class="column is-rounded">
                <button class="button is-rounded" id="downloadFastqMod"
                        onclick="download(collectSendFastQ(true), 'mosla.fastq');return false">
                    Download fully modified sequence as FastQ
                </button>
            </div>
        </div>
        <h2 class="subtitle"> RNA-Structure Results: </h2>
        <div class="box">
            <h3 class="subtitle has-text-black"> Max-Expect dot-Sequence: </h3>
            <ul class="text_lettering" id="dot_seq" style="overflow-x: auto;"></ul>
            <div class="column is-rounded">
                <p>Download:</p>
                <button class="button is-rounded" id="downloadIMG"
                        onclick="let id = $('#dot_seq').data('id');downloadImg(id, 'svg');return false">
                    SVG-Image
                </button>
                <button class="button is-rounded" id="downloadIMG"
                        onclick="let id = $('#dot_seq').data('id');downloadImg(id, 'ps');return false">
                    PS-Image
                </button>
                <button class="button is-rounded" id="downloadIMG"
                        onclick="let id = $('#dot_seq').data('id');downloadImg(id, 'pdf');return false">
                    PDF-Image
                </button>
                <button class="button is-rounded" id="downloadIMG"
                        onclick="let id = $('#dot_seq').data('id');downloadImg(id, 'ct');return false">
                    CT-File
                </button>
                <button class="button is-rounded" id="downloadIMG"
                        onclick="let id = $('#dot_seq').data('id');downloadImg(id, 'dot');return false">
                    DOT-File
                </button>
                <button class="button is-rounded" id="downloadIMG"
                        onclick="let id = $('#dot_seq').data('id');downloadImg(id, 'pfs');return false">
                    PFS-Distribution-File
                </button>
            </div>
        </div>


        <!--
        <div class="box">
            <h3 class="subtitle" style="color: black"> Modified Sequence: </h3>
            <ul class="text_lettering" id="mod_seq" style="overflow-x: auto;"></ul>
        </div>
        -->

        <div class="box">
            <h3 class="subtitle has-text-black">Share this result:</h3>
            <ul class="share_mosla_link" id="link_to_share"></ul>
        </div>
        <div class="box">
            <h3 class="subtitle has-text-black">Used Seed:</h3>
            <ul class="share_mosla_link" id="used_seed"></ul>
        </div>

    </div>
    <div id="resultsbymail" style="display: none">
        <div class="box">
            <h3 class="subtitle is-centered is-warning has-text-weight-bold">It looks like this might take a while. Dont
                worry, the results will be send to your E-Mail.</h3>
        </div>
    </div>

    <!--
    <script>
        $(function () {
            $("#overall").hover(function (e) {
                $(this).find('.overall_char5').css('font-weight', "bold");
            }, function (e) {
                $(this).find('.overall_char5').css('font-weight', "normal");
            });
        })
    </script>
    -->
    <!--{{ apikey }}-->

{% endblock %}

{% block javascript %}
    {{ super() }}
    {% if config['DEBUG'] or config['TESTING'] %}
        <script src={{ url_for('static',filename='js/jquery.lettering.js') }}></script>
        <script src={{ url_for('static',filename='js/Chart.min.js') }}></script>
        <script src={{ url_for('static',filename='js/chartjs-plugin-dragData.min.js') }}></script>
        <script src={{ url_for('static',filename='js/error-chart.js') }}></script>
        <script src={{ url_for('static',filename='js/autoscroll.js') }}></script>
        <script src={{ url_for('static',filename='js/ajax-api.js') }}></script>
        <script src={{ url_for('static',filename='js/index.min.js') }}></script>
    {% endif %}

    <script>
        jQuery(document).ready(function () {
            setApikey("{{ host }}", "{{ apikey }}");
            updateDropdown("{{ host }}", "{{ apikey }}", "gc");
            updateDropdown("{{ host }}", "{{ apikey }}", "homopolymer");
            updateDropdown("{{ host }}", "{{ apikey }}", "kmer");
            updateSynthDropdown("{{ host }}", "{{ apikey }}");
            {%  if uuid != None %}
                queryServer('{{ uuid }}');
            {% endif %}


            $(document).keyup(function (e) {
                if (e.keyCode === 27) {
                    if ($("#validation_overlay").is(':visible')) {
                        closeValidationOverlay();
                    } else {
                        closeOverlay();
                    }
                }
            });

            let chart = $('#myChart');
            chart.dblclick(function (e) {
                //getting value by pressing on dataset
                curr_chart.data.datasets.forEach((dataset) => {
                    for (var scaleName in curr_chart.scales) {
                        var scale = curr_chart.scales[scaleName];
                        if (scale.isHorizontal()) {
                            valueX = Math.max(Math.min(round(scale.getValueForPixel(event.offsetX), xRoundingFactor), maximumX), 0);
                        } else {
                            valueY = Math.max(Math.min(round(scale.getValueForPixel(event.offsetY), yRoundingFactor), maximumY), 0);
                        }
                    }
                    curr_chart.data.datasets.forEach((dataset) => {
                        dataset.data.push({x: valueX, y: valueY});
                    });
                    dataset.data.sort(function (a, b) {
                        return a.x - b.x;
                    });
                    //curr_chart.data.labels.push("tmp");
                });
                removeDuplicatesX();
                curr_chart.update();
            });
            chart.click(function (e) {
                curr_chart.data.datasets.forEach((dataset) => {
                    for (var scaleName in curr_chart.scales) {
                        var scale = curr_chart.scales[scaleName];
                        if (scale.isHorizontal()) {
                            valueX = Math.max(Math.min(round(scale.getValueForPixel(event.offsetX), xRoundingFactor), maximumX), 0);
                        } else {
                            valueY = Math.max(Math.min(round(scale.getValueForPixel(event.offsetY), yRoundingFactor), maximumY), 0);
                        }
                    }
                    $('#x-val').val(valueX);
                    $('#y-val').val(valueY);
                    //curr_chart.data.labels.push("tmp");
                });
            });

            $("body").click(function (event) {
                if (!$(event.target).closest(".overlay-all,#overlay-managebox,#overlay-content,#showOvrly,#validation_overlay").length) {
                    closeOverlay();
                }
                if (!$(event.target).closest("#mod_seq").length) {
                    var element = document.getElementById("mod_seq");
                    set_mod_seq_inf(element.innerText, 1, element.innerText.length);
                }
                if (!$(event.target).closest("#inner_validation_overlay,.button").length) {
                    $("#validation_overlay").hide();
                }
            });
            $("#mod_seq").on("click", function (e) {
                var sel = "";
                if (window.getSelection) {
                    sel = window.getSelection().toString();
                    var sel_start = window.getSelection().getRangeAt(0).startOffset + 1;
                    if (window.getSelection().toString().length === 0) {
                        var sel_end = sel_start;
                    } else {
                        var sel_end = sel_start + window.getSelection().toString().length - 1;
                    }
                    set_mod_seq_inf(sel, sel_start, sel_end);
                }
            })

        });


        /*$(function () { // wait for page to load
            var subDropdown = $("#seqmeth"),
                mainDropdown = $('<select></select>'), // create a method dropdown
                submethods = []; // ordered list of submethods

            // parse the nested dropdown
            subDropdown.children().each(function () {
                var group = $(this),
                    mainName = group.attr('label'),
                    option;

                // create an option for the method
                option = $('<option></option>').text(mainName);

                // store the associated submethod options
                option.data('subMethods', group.children());

                // check if the method should be selected
                if (group.find(':selected').length > 0) {
                    option.prop('selected', true);
                }

                // add the method to the dropdown
                mainDropdown.append(option);
            });

            // add the method dropdown to the page
            subDropdown.before(mainDropdown);

            // this function updates the submethod dropdown based on the selected method
            function updateSubmethods() {
                var main = mainDropdown.find(':selected');
                subDropdown.empty().append(main.data('subMethods'));
            }

            // call the function to set the initial subMethods
            updateSubmethods();

            // and add the change handler
            mainDropdown.on('change', updateSubmethods);

        });

        $(function () {
            var subDropdown = $("#synthmeth"),
                mainDropdown = $('<select></select>'),
                error_correction = []; // ordered list of submethods

            subDropdown.children().each(function () {
                var group = $(this),
                    mainName = group.attr('label'),
                    option;

                option = $('<option></option>').text(mainName);

                option.data('error_correction', group.children());

                if (group.find(':selected').length > 0) {
                    option.prop('selected', true);
                }

                mainDropdown.append(option);
            });

            subDropdown.before(mainDropdown);

            function updateErrCorrection() {
                var main = mainDropdown.find(':selected');
                subDropdown.empty().append(main.data('error_correction'));
            }

            updateErrCorrection();

            mainDropdown.on('change', updateErrCorrection);
        });
        */
    </script>
{% endblock %}