.info, .success, .warning, .danger {
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.red {
    color: darkred;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input[id^="spoiler"] {
    display: none;
}

input[id^="spoiler"] + label {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px 10px;
    background: #baa861; /*mediumblue;*/
    /*color: #fff;*/
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all .6s;
}

input[id^="spoiler"]:checked + label {
    color: #333;
    background: #ccc;
}

input[id^="spoiler"] ~ .spoiler {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    color: black;
    border-radius: 8px;
    transition: all .6s;
    display: none;
}

input[id^="spoiler"]:checked + label + .spoiler {
    height: auto;
    opacity: 1;
    padding: 10px;
    display: block;
}


.info:before, .success:before, .warning:before, .danger:before {
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/*
.info:before {
    content:"f05a";
}
.success:before {
    content:'f00c';
}
.warning:before {
    content:'f071';
}
.error:before {
    content:'f057';
}
*/
.info {
    color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.danger {
    color: #D8000C;
    background-color: #FFD2D2;
}


.tutorial-wrapper {
    width: 100%;
}

.tutorial-wrapper form {
    background-color: #ffc;
    border: 1px solid #cc9;
    padding: 10px;
    width: 75%;
    font-size: 1em;
}

.field-wrapper {
    margin: 2px 0 2px 0;
    padding: 0;
}

.tutorial-wrapper label {
    float: left;
    text-align: right;
    margin: 0 5px 0 0;
    width: 30%;
}

.tutorial-wrapper input {
    width: 200px;
    border: 1px solid #cc9;
}

.confirm-message {
    margin: 0;
    padding: 0;
    font-size: .8em;
}


/*
Sequence coloring:

.text_lettering {
    width: 80%;
}
has-float-label
.text_lettering ul {
    width: 50px;
    border: 2px solid white;
    border-left: none;
    border-right: none;
    padding: 2px;
    box-shadow: 0px -10px 0px rgba(0, 0, 0, 0.08) inset, 0px 12px 0px rgba(0, 0, 0, 0.2) inset, 0px 0px 5px rgba(0, 0, 0, 0.2);
    list-style: none;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.text_lettering ul:hover {
    opacity: 1;
}

.text_lettering ul:first-child {
    border-left: 2px solid white;
}

.text_lettering ul:last-child {
    border-right: 2px solid white;
}
*/

/* Tooltip:
[data-tooltip] {
    cursor: default;
    font: normal 1em sans-serif;
}

[data-tooltip]:hover:after {
    display: inline-block;
    content: attr(data-tooltip);
    white-space: pre-wrap;
    color: #0081ff;
    background-color: OldLace;
    padding: 1em;
}
*/

#sequence {
    text-transform: uppercase;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.sequence {
    text-transform: uppercase;
}

br {
    line-height: 1;
    display: block;
    margin-bottom: 5px;
}

@media screen and (min-width: 1408px) {
    .button-fill {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 1407px) {
    .button-fill {
        width: 100%;
        height: 100%;
        min-width: -moz-min-content; /* Firefox */
        min-width: -webkit-min-content; /* Chrome */
    }
}

.no-outline {
    outline: none;
    border: none;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

/*input.is-grayable:read-only {
    background-color: #F1F1F1;
}*/

[readonly].is-grayable {
    background-color: #F1F1F1;
}

.has-padding-03 {
    padding-bottom: 0.3rem;
}

.c-1-color {
    background: #7a1219 !important;
}

.c-2-color {
    background: #baa861 !important;
}

.c-3-color {
    background: #008c00 !important;
}

.c-4-color {
    background: #0003a9 !important;
}

.homopolymer-color {
    background: #f78000 !important;
}

.random-color {
    background: #cd8383 !important;
}


.deletion-color {
    background: #00aa8c !important;
}

.insertion-color {
    background: #a40002 !important;
}

.mismatch-color {
    background: #5cc400 !important;
}

.noUi-tooltip {
    display: none !important;
}

.noUi-active .noUi-tooltip {
    display: block !important;
}

.has-horizontal-padding-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hide-spiinbutton input::-webkit-outer-spin-button,
.hide-spiinbutton input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hide-spiinbutton input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

.has-no-margin-left {
    margin-left: 0 !important;
}

.has-no-margin-top {
    margin-top: 0 !important;
}

.has-no-margin-right {
    margin-right: 0 !important;
}

.has-no-margin-bottom {
    margin-bottom: 0 !important;
}

.has-no-padding-left {
    padding-left: 0 !important;
}

.has-no-padding-right {
    padding-right: 0 !important;
}


.has-no-padding-bottom {
    padding-bottom: 0 !important;
}

.has-no-padding-top {
    padding-top: 0 !important;
}

.has-overflow-unset {
    overflow: unset !important;
}

.has-margin-bottom-12 {
    margin-bottom: 12px !important;
}

.has-margin-bottom-20 {
    margin-bottom: 20px !important;
}

.has-margin-top-20 {
    margin-top: 20px !important;
}

.has-padding-right-10 {
    padding-right: 10px;
}

.has-padding-bottom-20 {
    padding-bottom: 20px;
}

.has-padding-bottom-40 {
    padding-bottom: 40px;
}

.is-settings-box {
    padding-left: 0;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 10px;
    margin-bottom: 5px !important;
}

.mismatch_container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 5px 0 !important;
}

.mismatch_inputfield {
    min-width: 25px;
}

.is-one-sixt {
    flex: none;
    width: 16.66%
}

/* Tooltip container */
.tooltip {
    text-align: center;
    background-color: #baa861;
    color: black;
    border-radius: 500%;
    width: 19px;
    height: 19px;
    font-size: 15px;
    line-height: 18px;
    cursor: default;
}

.tooltip[data-position = "upper"] {
    position: absolute;
    right: 4px;
    top: 4px;
}

.tooltip[data-position = "lower"] {
    position: absolute;
    right: -15px;
    top: 3px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.text_lettering, .full_modified_text_lettering {
    background-color: #f5f5f5;
}

.bottom {
  position: absolute !important;
  bottom: unset !important;
  right: unset !important;
  margin-top: -29px;
}
